<?xml version="1.0" encoding="utf-8"?>
<!--
    Author: Scott Ware <scoot.software@gmail.com>
    Copyright (c) 2015 Scott Ware

    Permission is hereby granted, free of charge, to any person obtaining
    a copy of this software and associated documentation files (the
    "Software"), to deal in the Software without restriction, including
    without limitation the rights to use, copy, modify, merge, publish,
    distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to
    the following conditions:

    The above copyright notice and this permission notice shall be
    included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
    LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
    OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
    WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scooter1556.sms.android" >

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!-- Make application available to both TV and regular devices. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/launcher_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:banner="@drawable/app_banner">

        <!-- Main activity for media browsing on mobile devices -->
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Use this intent filter to get voice searches -->
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Main activity for Android TV user interface -->
        <activity
            android:name=".activity.tv.TvHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Browse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Android TV -->
        <activity
            android:name=".activity.tv.TvMediaBrowserActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.Browse" />

        <activity
            android:name=".activity.tv.TvMusicActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.Browse" />

        <activity
            android:name=".activity.tv.TvVideoActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.Browse" />

        <activity
            android:name=".activity.tv.TvSettingsActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.Browse" />

        <activity
            android:name=".activity.tv.TvAudioPlaybackActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback" />

        <activity
            android:name=".activity.tv.TvVideoPlaybackActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback" />

        <activity
            android:name=".activity.tv.TvMediaGridActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.VerticalGrid" />

        <activity
            android:name=".activity.tv.TvDirectoryDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Details" />

        <activity
            android:name=".activity.tv.TvConnectionActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity
            android:name=".activity.tv.TvConnectionOptionsActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity
            android:name=".activity.tv.TvEditConnectionActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity
            android:name=".activity.tv.TvAudioSettingsActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity
            android:name=".activity.tv.TvVideoSettingsActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity
            android:name=".activity.tv.TvTranscodeSettingsActivity"
            android:exported="true"
            android:parentActivityName=".activity.tv.TvHomeActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <!-- Mobile Devices -->
        <activity
            android:name=".activity.MusicActivity"
            android:label="@string/heading_music"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.VideoActivity"
            android:label="@string/heading_video"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.BrowseActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/preferences_title"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.ConnectionActivity"
            android:label="@string/connections_title"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.SettingsActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>

        <activity
            android:name=".activity.NowPlayingActivity"
            android:icon="@drawable/ic_launcher">
        </activity>

        <!-- A full screen activity showing controls and a seek bar for the current playing media -->
        <activity
            android:name=".activity.FullScreenPlayerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>

        <activity
            android:name=".activity.VideoPlaybackActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/VideoPlayerTheme" >

            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
            </intent-filter>
        </activity>

        <receiver android:name="androidx.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/auto_app_desc" />

        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.android.gms.car.application.theme"
            android:resource="@style/CarTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.scooter1556.sms.android.provider.CastOptionsProvider" />

        <service
            android:name=".service.MediaService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

    </application>

</manifest>
